.wrapButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.button {
    text-transform: capitalize;
    padding: 10px 30px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 15px;
    transition: all 200ms linear;
}

.button:hover,
.button:focus {
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.3);
}

.button:active {
    box-shadow: none;
}